@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* ### Primary */
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    /* ### Neutral */
    --grey-500: hsl(234, 12%, 34%);
    --grey-400: hsl(212, 6%, 44%);
    --white: hsl(0, 0%, 100%);
}

/* - Weights: 200, 400, 600 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

body {
    background: black;
}

main {
    width: 375px;
    background: white;
    margin: auto;
}

h2 {
    color: var(--grey-500);
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 5px;
}

img {
    right: 0;
    margin: 25px 0;
    float: right;
}

p {
    color: var(--grey-400);
    font-weight: 400;
    font-size: 12px;
}

.container {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.header h2 {
    color: var(--grey-400);
    font-weight: 200;
    font-size: 22px;
}

.header h1 {
    color: var(--grey-500);
    font-weight: 600;
    font-size: 22px;
}

.header p {
    color: var(--grey-500);
    font-weight: 400;
    font-size: 14px;
    margin: 10px 0 45px 0;
}

.left,
.center-red,
.center-orange,
.right {
    width: 100%;
    height: 250px;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 -6px 10px -7px grey inset;
    margin-bottom: 25px;
}

.left {
    border-top: 4px solid var(--cyan);
}

.center-red {
    border-top: 4px solid var(--red);
}

.center-orange {
    border-top: 4px solid var(--orange);
}

.right {
    border-top: 4px solid var(--blue);
}

/* 1440px */
@media (min-width: 1440px) {
    body {
        background: var(--white);
    }

    main {
        width: 1440px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    .container {
        display: flex;
        align-items: center;
    }

    .header {
        max-width: 600px;
        text-align: center;
    }

    .header h2 {
        color: var(--grey-400);
        font-weight: 200;
        font-size: 36px;
    }

    .header h1 {
        color: var(--grey-500);
        font-weight: 600;
        font-size: 36px;
    }

    .header p {
        color: var(--grey-500);
        font-weight: 400;
        font-size: 18px;
        margin: 10px 0 45px 0;
    }

    .card {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .left,
    .center-red,
    .center-orange,
    .right {
        width: 330px;
        height: 250px;
        border-radius: 12px;
        padding: 30px;
        box-shadow: 0 -6px 10px -7px grey inset;
        margin-bottom: 25px;
    }
}